Repository ARMmbed/mbed-os, pull requests merged in 2021-12, with the labels that each got.

#15183 STM32WL : add robustness
  connectivity/drivers/lora/TARGET_STM32WL/STM32WL_LoRaRadio.cpp
  targets/TARGET_STM/TARGET_STM32WL/README.md
Labels: devices: st, ready for merge, component: connectivity, release-type: patch

#15184 Fix initialisation sequence of RTC
  targets/TARGET_Maxim/TARGET_MAX32630/rtc_api.c
Labels: ready for merge, devices: maxim

#15181 Fix LoRa sx1276 Low Power sleep, now 3uA
  connectivity/drivers/lora/COMPONENT_SX1276/SX1276_LoRaRadio.cpp
Labels: ready for merge, component: connectivity, release-type: patch

#15176 mstd::span rename index_type to size_type according to spec
  platform/cxxsupport/mstd_span
Labels: ready for merge, component: core, release-type: patch

#15193 STM32 : remove several warnings
  targets/TARGET_STM/TARGET_STM32F7/flash_api.c
  targets/TARGET_STM/TARGET_STM32G4/STM32Cube_FW/STM32G4xx_HAL_Driver/stm32g4xx_hal_hrtim.c
  targets/TARGET_STM/TARGET_STM32G4/serial_device.c
  targets/TARGET_STM/TARGET_STM32H7/STM32Cube_FW/STM32H7xx_HAL_Driver/stm32h7xx_hal_hrtim.c
  targets/TARGET_STM/TARGET_STM32H7/analogin_device.c
  targets/TARGET_STM/TARGET_STM32L4/STM32Cube_FW/STM32L4xx_HAL_Driver/Legacy/stm32l4xx_hal_can_legacy.c
  targets/TARGET_STM/TARGET_STM32L5/serial_device.c
  targets/TARGET_STM/can_api.c
Labels: devices: st, ready for merge, release-type: patch

#15192 Add option to disable WHD component for Cypress targets
  connectivity/drivers/wifi/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT064B0S2_4343W/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062S2_43012/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062_WIFI_BT/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062S3_4343W/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062_4343W/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYTFM_064B0S2_4343W/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43012EVB_01/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43438EVB_01/CMakeLists.txt
Labels: ready for merge, component: connectivity, devices: cypress, release-type: patch

#15189 nRF52: GPIO: Assert that init succeeds
  targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/gpio_api.c
Labels: devices: nordic, ready for merge, release-type: patch

#15195 Add option to disable CM0P_SLEEP component for Cypress targets
  targets/TARGET_Cypress/TARGET_PSOC6/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062S2_43012/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062_BLE/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062_WIFI_BT/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062S3_4343W/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062_4343W/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43012EVB_01/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43438EVB_01/CMakeLists.txt
Labels: ready for merge, devices: cypress, release-type: patch
