Repository ARMmbed/mbed-os, pull requests merged in 2021-04, with the labels that each got.

#14487 [feature-wisun] Update cert for testing server
  TESTS/netsocket/tls/cert.h
Labels: ready for merge, release-version: feature branch

#14478 STM32L1 : enable ADC after deepsleep
  targets/TARGET_STM/TARGET_STM32L1/analogin_device.c
Labels: devices: st, ready for merge, release-type: patch

#14485 STM32: RTC HSE support review changes
  targets/TARGET_STM/rtc_api_hal.h
Labels: devices: st, ready for merge, release-type: patch

#14482 STM32L4: align all system_clock files
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L432xC/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L433xC/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L443xC/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L452xE/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L471xG/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L475xG/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L476xG/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L486xG/TARGET_NUCLEO_L486RG/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L4R5xI/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L4R9xI/system_clock.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L4S5xI/system_clock.c
Labels: devices: st, ready for merge, release-type: patch

#14479 STM32L1: enable USBDEVICE
  targets/TARGET_STM/USBPhyHw.h
Labels: devices: st, ready for merge, release-type: patch

#14259 Support STM Nucleo-G431RB
  targets/TARGET_STM/TARGET_STM32G4/TARGET_STM32G431xB/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32G4/TARGET_STM32G431xB/TARGET_NUCLEO_G431RB/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32G4/TARGET_STM32G431xB/TARGET_NUCLEO_G431RB/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32G4/TARGET_STM32G431xB/TARGET_NUCLEO_G431RB/PinNames.h
  targets/targets.json
Labels: ready for merge, release-type: patch, scope: new-target

#14511 BLE: Fix start scan command not returning error if parameters haven't been set
  connectivity/FEATURE_BLE/source/generic/GapImpl.cpp
  connectivity/FEATURE_BLE/source/generic/GapImpl.h
Labels: component: connectivity, ready for merge, release-type: patch

#14506 Add GattUpdatesEnabledCallbackParams struct
  connectivity/FEATURE_BLE/include/ble/gatt/GattCallbackParamTypes.h
  connectivity/FEATURE_BLE/source/cordio/source/GattServerImpl.cpp
  connectivity/FEATURE_BLE/source/cordio/source/GattServerImpl.h
Labels: component: connectivity, ready for merge, release-type: patch

#14522 Mbed-os improvement for CHIP project integration
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_BlueNRG_MS/BlueNrgMsHCIDriver.cpp
  platform/cxxsupport/mstd_atomic
  platform/include/platform/mbed_retarget.h
  platform/source/mbed_retarget.cpp
Labels: needs: review, needs: work, release-version: feature branch

#14491 Update FPGA documentation
  hal/tests/TESTS/mbed_hal_fpga_ci_test_shield/README.md
Labels: component: hal, ready for merge, release-type: patch

#14527 Tests: use only NUCLEO_F401RE for the NFC examples
  tools/test/examples/examples.json
Labels: ready for merge, release-type: patch

#14524 M487: Adjust placement of SYS_UnlockReg in WDT reset code
  targets/TARGET_NUVOTON/TARGET_M480/mbed_overrides.c
Labels: devices: nuvoton, ready for merge, release-type: patch

#14424 WIO_BG96: fix macro exclusion - use cellular
  targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_WIO_BG96/ONBOARD_QUECTEL_BG96.cpp
Labels: devices: seeed, ready for merge, release-type: patch

#14359 Add bare metal support to NXP targets
  targets/TARGET_NXP/TARGET_LPC11XX_11CXX/device/TOOLCHAIN_ARM_MICRO/TARGET_LPC11XX/LPC1114.sct
  targets/TARGET_NXP/TARGET_LPC11XX_11CXX/device/TOOLCHAIN_ARM_MICRO/TARGET_LPC11XX/startup_LPC11xx.S
  targets/TARGET_NXP/TARGET_MCUXpresso_MCUS/TARGET_LPC54114/device/TARGET_LPC54114_M4/TOOLCHAIN_ARM_STD/LPC54114J256_cm4.sct
  targets/TARGET_NXP/TARGET_MCUXpresso_MCUS/TARGET_MCU_LPC546XX/device/TOOLCHAIN_ARM_STD/LPC54628J512.sct
  targets/targets.json
Labels: devices: nxp, ready for merge, release-type: patch

#14532 Make ticker computation use shift-by-0
  hal/source/mbed_ticker_api.c
Labels: component: hal, ready for merge, release-type: patch

#14439 [feature-wisun] Added API to reset MAC and Wi-SUN statistics.
  features/nanostack/mbed-mesh-api/mbed-mesh-api/WisunInterface.h
  features/nanostack/mbed-mesh-api/source/WisunInterface.cpp
  features/nanostack/mbed-mesh-api/source/include/wisun_tasklet.h
  features/nanostack/mbed-mesh-api/source/wisun_tasklet.c
Labels: ready for merge, release-version: feature branch

#14435 Fix missing linkage of mbed-mbedtls-cryptocell310 to mbed-mbedtls
  connectivity/CMakeLists.txt
  connectivity/drivers/ble/FEATURE_BLE/TARGET_NORDIC/TARGET_NORDIC_CORDIO/TARGET_NRF5x/CMakeLists.txt
  connectivity/drivers/mbedtls/FEATURE_CRYPTOCELL310/CMakeLists.txt
  connectivity/drivers/mbedtls/FEATURE_CRYPTOCELL310/TARGET_MCU_NRF52840/CMakeLists.txt
  connectivity/drivers/mbedtls/FEATURE_CRYPTOCELL310/binaries/CMakeLists.txt
Labels: ready for merge, release-type: patch

#14436 BLE: replace obsolete services with the new services repo
  connectivity/FEATURE_BLE/include/ble/services/BatteryService.h
  connectivity/FEATURE_BLE/include/ble/services/DeviceInformationService.h
  connectivity/FEATURE_BLE/include/ble/services/EnvironmentalService.h
  connectivity/FEATURE_BLE/include/ble/services/HealthThermometerService.h
  connectivity/FEATURE_BLE/include/ble/services/HeartRateService.h
  connectivity/FEATURE_BLE/include/ble/services/LinkLossService.h
  connectivity/FEATURE_BLE/include/ble/services/services.md
Labels: component: connectivity, ready for merge, release-type: feature

#14467 Musca targets: align and clean up configurations
  cmsis/device/rtos/mbed_lib.json
  platform/mbed_lib.json
Labels: component: core, component: security, ready for merge, release-type: patch

#14481 STM32WL: update "lora.max-sys-rx-error"
  connectivity/lorawan/mbed_lib.json
Labels: component: connectivity, ready for merge, release-type: patch

#14543 Fix Unbuffered serial enable/disable issue on Cypress kits
  targets/TARGET_Cypress/TARGET_PSOC6/cy_serial_api.c
Labels: devices: cypress, ready for merge, release-type: patch

#14462 [feature-wisun] Added new start methods to Wi-SUN BR with WisunInterface parameter and deprecated the old ones
  features/nanostack/mbed-mesh-api/mbed-mesh-api/WisunBorderRouter.h
  features/nanostack/mbed-mesh-api/source/WisunBorderRouter.cpp
Labels: ready for merge, release-version: feature branch

#14545 examples: Deprecate mbed-os-example-bootloader
  TESTS/integration/COMMON/sample.txt
  tools/test/examples/README.md
  tools/test/examples/examples.json
Labels: ready for merge

#14486 CMake COMPONENT_BlueNRG_MS: fix mbed-ble
  connectivity/CMakeLists.txt
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_BlueNRG_MS/CMakeLists.txt
Labels: component: connectivity, ready for merge, release-type: patch

#14469 STM32: remove critical sections in flash_program_page
  targets/TARGET_STM/TARGET_STM32F0/flash_api.c
  targets/TARGET_STM/TARGET_STM32F1/flash_api.c
  targets/TARGET_STM/TARGET_STM32F2/flash_api.c
  targets/TARGET_STM/TARGET_STM32F3/flash_api.c
  targets/TARGET_STM/TARGET_STM32F4/flash_api.c
  targets/TARGET_STM/TARGET_STM32F7/flash_api.c
  targets/TARGET_STM/TARGET_STM32G0/flash_api.c
  targets/TARGET_STM/TARGET_STM32G4/flash_api.c
  targets/TARGET_STM/TARGET_STM32H7/flash_api.c
  targets/TARGET_STM/TARGET_STM32L0/flash_api.c
  targets/TARGET_STM/TARGET_STM32L1/flash_api.c
  targets/TARGET_STM/TARGET_STM32L4/flash_api.c
  targets/TARGET_STM/TARGET_STM32L5/flash_api.c
  targets/TARGET_STM/TARGET_STM32WL/flash_api.c
Labels: devices: st, ready for merge, release-type: patch

#14541 Increase baud rate of mbed-os-example-crash-reporting to 115200
  tools/test/examples/examples.json
  tools/test/examples/examples_cmake.json
Labels: component: tools, ready for merge, release-type: patch

#14483 Improve HeapBlockDevice, TDBStore and tests
  storage/blockdevice/include/blockdevice/HeapBlockDevice.h
  storage/blockdevice/source/HeapBlockDevice.cpp
  storage/kvstore/filesystemstore/tests/UNITTESTS/FileSystemStore/moduletest.cpp
  storage/kvstore/tdbstore/include/tdbstore/TDBStore.h
  storage/kvstore/tdbstore/source/TDBStore.cpp
  storage/kvstore/tdbstore/tests/TESTS/tdbstore/whitebox/main.cpp
Labels: component: core, ready for merge, release-type: patch

#14546 CMake: Fix mbed-802.15.4-rf driver
  connectivity/drivers/802.15.4_RF/CMakeLists.txt
Labels: ready for merge, release-type: patch

#14516 CMake: remove MBED_PATH and use <PROJECT-NAME>_SOURCE_DIR/MODULE_PATH instead
  CMakeLists.txt
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/CMakeLists.txt
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/scripts/mbed_set_post_build_tfm.cmake
  targets/CMakeLists.txt
  targets/TARGET_ARM_SSG/TARGET_MUSCA_B1/CMakeLists.txt
  targets/TARGET_ARM_SSG/TARGET_MUSCA_S1/CMakeLists.txt
  targets/TARGET_Cypress/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT064B0S2_4343W/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYSBSYSKIT_01/CMakeLists.txt
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYTFM_064B0S2_4343W/CMakeLists.txt
  targets/TARGET_Cypress/scripts/mbed_set_post_build_cypress.cmake
  targets/TARGET_NXP/TARGET_LPC11XX_11CXX/TARGET_LPC11XX/CMakeLists.txt
  targets/TARGET_NXP/TARGET_LPC176X/TARGET_ARCH_PRO/CMakeLists.txt
  targets/TARGET_NXP/TARGET_LPC176X/TARGET_MBED_LPC1768/CMakeLists.txt
  targets/TARGET_NXP/TARGET_MCUXpresso_MCUS/TARGET_LPC54114/device/TARGET_LPC54114_M4/CMakeLists.txt
  targets/TARGET_NXP/TARGET_MCUXpresso_MCUS/TARGET_MCU_LPC546XX/CMakeLists.txt
  targets/TARGET_NXP/scripts/mbed_set_post_build_nxp.cmake
  tools/cmake/app.cmake
  tools/cmake/mbed_greentea.cmake
  tools/cmake/mbed_profile.cmake
  tools/cmake/mbed_set_linker_script.cmake
  tools/cmake/mbed_toolchain.cmake
Labels: component: connectivity, component: core, component: hal, component: security, component: tools, devices: arm, devices: cypress, devices: nxp, ready for merge, release-type: patch

#14529 CMake: Fix Mbed TLS compilation on Cortex-M0/0+/1/M23
  connectivity/mbedtls/CMakeLists.txt
  tools/cmake/profiles/debug.cmake
Labels: component: tools, ready for merge, release-type: patch

#14463 Wisun: Add new start methods to Wi-SUN BR with WisunInterface parameter and deprecated the old ones
  connectivity/nanostack/mbed-mesh-api/mbed-mesh-api/WisunBorderRouter.h
  connectivity/nanostack/mbed-mesh-api/source/WisunBorderRouter.cpp
Labels: component: mesh, ready for merge, release-type: patch

#14465 Maxim: Add bare metal support to targets
  targets/TARGET_Maxim/TARGET_MAX32620C/device/TOOLCHAIN_ARM_STD/MAX32620.sct
  targets/TARGET_Maxim/TARGET_MAX32625/device/TOOLCHAIN_ARM_STD/TARGET_MAX32625_BOOT/MAX32625.sct
  targets/TARGET_Maxim/TARGET_MAX32625/device/TOOLCHAIN_ARM_STD/TARGET_MAX32625_NO_BOOT/MAX32625.sct
  targets/TARGET_Maxim/TARGET_MAX32630/device/TOOLCHAIN_ARM_STD/MAX3263x.sct
  targets/targets.json
Labels: devices: maxim, ready for merge, release-type: patch

#14507 make target list for applications in examples_cmake.json consistent with examples.json
  tools/test/examples/cloud_examples_cmake.json
  tools/test/examples/examples_cmake.json
Labels: component: tools, ready for merge, release-type: patch

#14525 Check for duplicate status callbacks before adding to the list
  features/netsocket/NetworkInterface.cpp
Labels: ready for merge, release-version: feature branch

#14587 create symlink for all sub examples which has mbed-os.lib
  tools/test/examples/examples_lib.py
Labels: component: tools, ready for merge, release-type: patch

#14585 add #include "wsf_os.h" into hci_drv_apollo3.h
  connectivity/drivers/ble/FEATURE_BLE/TARGET_Ambiq_Micro/hal/apollo3/hci_drv_apollo3.h
Labels: component: connectivity, ready for merge, release-type: patch

#14451 STM32 : enable PinMap_GPIO table
  targets/TARGET_STM/PeripheralPins.h
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L475xG/TARGET_DISCO_L475VG_IOT01A/PeripheralPinMaps.h
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L475xG/TARGET_DISCO_L475VG_IOT01A/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L475xG/TARGET_DISCO_L475VG_IOT01A/PinNames.h
  targets/TARGET_STM/TARGET_STM32WB/TARGET_STM32WB55xx/TARGET_NUCLEO_WB55RG/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32WB/TARGET_STM32WB55xx/TARGET_NUCLEO_WB55RG/PinNames.h
  targets/TARGET_STM/gpio_api.c
Labels: devices: st, ready for merge, release-type: patch

#14537 Better document MemoryPool behaviour
  rtos/include/rtos/MemoryPool.h
Labels: component: core, ready for merge, release-type: patch

#14540 Improve condition for declaring `struct timeval`
  platform/include/platform/mbed_rtc_time.h
Labels: component: core, ready for merge, release-type: patch

#14550 Fix DeviceKey documentation regarding RoT
  drivers/device_key/README.md
Labels: component: core, component: hal, ready for merge, release-type: patch

#14553 Added API to reset MAC statistics and Wi-SUN statistics
  connectivity/nanostack/mbed-mesh-api/mbed-mesh-api/WisunInterface.h
  connectivity/nanostack/mbed-mesh-api/source/WisunInterface.cpp
  connectivity/nanostack/mbed-mesh-api/source/include/wisun_tasklet.h
  connectivity/nanostack/mbed-mesh-api/source/wisun_tasklet.c
Labels: component: mesh, ready for merge, release-type: feature

#14554 HAL ticker tests update
  hal/tests/TESTS/mbed_hal/lp_ticker/main.cpp
  hal/tests/TESTS/mbed_hal/us_ticker/main.cpp
Labels: component: hal, ready for merge, release-type: patch

#14583 musca: Add detect_code for MUSCA B1
  targets/targets.json
Labels: ready for merge, release-type: patch

#14581 STM32G4 : serial issue with LP_UART1
  targets/TARGET_STM/TARGET_STM32G4/serial_device.c
Labels: devices: st, ready for merge, release-type: patch

#14561 Add bare metal support to Renesas targets
  targets/TARGET_RENESAS/TARGET_RZ_A1XX/CMakeLists.txt
  targets/TARGET_RENESAS/TARGET_RZ_A1XX/USBPhy_RZ_A1.cpp
  targets/TARGET_RENESAS/TARGET_RZ_A2XX/CMakeLists.txt
  targets/TARGET_RENESAS/TARGET_RZ_A2XX/USBPhy_RZ_A2.cpp
Labels: devices: renesas, ready for merge, release-type: patch

#14589 fix(docs): corrects various typos in project documentation
  TEST_APPS/testcases/nfc/README.md
  TEST_APPS/testcases/nfc/mobileapi.md
  connectivity/docs/Multihoming - Design document.md
  connectivity/drivers/mbedtls/FEATURE_CRYPTOCELL310/Readme.md
  connectivity/netsocket/tests/TESTS/netsocket/README.md
  connectivity/netsocket/tests/TESTS/network/wifi/README.md
  connectivity/nfc/docs/nfc_design.md
  docs/design-documents/design_template.md
  drivers/usb/tests/TESTS/usb_device/README.md
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_MBED_PSA_SRV/TESTS/compliance_its/psa_its_testlist.md
  platform/docs/clocks/clocks.md
  platform/docs/crash-reporting/crash_reporting.md
  platform/docs/memory-model/ram_memory_model.md
  storage/filesystem/littlefs/littlefs/DESIGN.md
  tools/README.md
Labels: component: connectivity, component: core, component: docs, component: hal, component: security, component: test, component: tools, ready for merge, release-type: patch

#14582 Update TF-M to v1.3.0
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/TARGET_TFM_V8M/src/tfm_ns_interface.c
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/VERSION.txt
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/mbedtls_ecc_group_to_psa.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/os_wrapper/msg_queue.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/client.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto_client_struct.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto_compat.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto_extra.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto_sizes.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto_struct.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto_types.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/crypto_values.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/error.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa/update.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/psa_manifest/sid.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/tfm_api.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/tfm_crypto_defs.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/tfm_fwu_defs.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/include/tfm_ns_interface.h
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/src/os_wrapper_cmsis_rtos_v2.c
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/src/tfm_crypto_ipc_api.c
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/src/tfm_its_ipc_api.c
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/src/tfm_ps_ipc_api.c
  targets/TARGET_ARM_SSG/TARGET_MUSCA_B1/bl2.bin
  targets/TARGET_ARM_SSG/TARGET_MUSCA_B1/s_veneers.o
  targets/TARGET_ARM_SSG/TARGET_MUSCA_B1/tfm_s.axf
  targets/TARGET_ARM_SSG/TARGET_MUSCA_B1/tfm_s.bin
  targets/TARGET_ARM_SSG/TARGET_MUSCA_S1/bl2.bin
  targets/TARGET_ARM_SSG/TARGET_MUSCA_S1/tfm_s.axf
  targets/TARGET_ARM_SSG/TARGET_MUSCA_S1/tfm_s.bin
  targets/targets.json
Labels: component: core, component: security, devices: arm, do not merge, needs: work, release-type: patch

#14599 STM32WL: enable lora with baremetal
  TESTS/configs/baremetal.json
Labels: component: test, ready for merge, release-type: patch

#14571 CMake: STM32: Add missing emac init files
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F4/TARGET_ARCH_MAX/CMakeLists.txt
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F4/TARGET_NUCLEO_F429ZI/CMakeLists.txt
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F4/TARGET_NUCLEO_F439ZI/CMakeLists.txt
Labels: ready for merge, release-type: patch

#14555 Nuvoton: Fix hal_watchdog_kick() with WDT stopped
  targets/TARGET_NUVOTON/TARGET_M451/watchdog_api.c
  targets/TARGET_NUVOTON/TARGET_M480/watchdog_api.c
  targets/TARGET_NUVOTON/TARGET_NANO100/watchdog_api.c
  targets/TARGET_NUVOTON/TARGET_NUC472/watchdog_api.c
Labels: devices: nuvoton, ready for merge, release-type: patch
