Repository ARMmbed/mbed-os, pull requests merged in 2021-08, with the labels that each got.

#14970 USB connect problem in non blocking mode
  targets/TARGET_STM/USBPhy_STM32.cpp
Labels: devices: st, ready for merge, release-type: patch

#14952 github actions for mbed-os-env docker management
  .github/workflows/ci_scripts/ghcr_utils.py
  .github/workflows/docker_management.branch.yml
  .github/workflows/docker_management.prune.yml
  .github/workflows/docker_management.release.yml
  .github/workflows/docker_management.test-PR.yml
  docker_images/mbed-os-env/Dockerfile
  docker_images/mbed-os-env/README.md
  docs/design-documents/docker_management/README.md
  docs/design-documents/docker_management/diagrams/docker-versioning.png
  docs/design-documents/docker_management/diagrams/example-app-usage.png
Labels: component: docs, ready for merge, release-type: patch

#14978 DOCKER: fix a bug in docker building GHA
  .github/workflows/docker_management.branch.yml
  .github/workflows/docker_management.release.yml
Labels: ready for merge, release-type: patch

#14979 requirements.txt - remove manifest-tool 1.5.2 and mbed-cloud-sdk
  LICENSE.md
  requirements.txt
Labels: ready for merge, release-type: patch

#14980 github action fix for uppercase repository owner
  .github/workflows/docker_management.branch.yml
  .github/workflows/docker_management.prune.yml
  .github/workflows/docker_management.release.yml
Labels: ready for merge, release-type: patch

#14983 SFDP: Add unit tests for Sector Map Parameter Table parsing
  storage/blockdevice/source/SFDP.cpp
  storage/blockdevice/tests/UNITTESTS/SFDP/test_sfdp.cpp
Labels: ready for merge, component: core, release-type: patch

#14892 Add CTest support for `mbed-drivers-ticker` greentea test
  .github/workflows/greentea_cmake.yml
  .github/workflows/test_building_multiple_executables.yml
  CMakeLists.txt
  connectivity/cellular/CMakeLists.txt
  connectivity/lorawan/CMakeLists.txt
  connectivity/netsocket/CMakeLists.txt
  drivers/CMakeLists.txt
  drivers/tests/TESTS/CMakeLists.txt
  drivers/tests/TESTS/mbed_drivers/ticker/CMakeLists.txt
  events/CMakeLists.txt
  hal/CMakeLists.txt
  platform/CMakeLists.txt
  rtos/CMakeLists.txt
  storage/blockdevice/CMakeLists.txt
  storage/filesystem/CMakeLists.txt
  storage/kvstore/CMakeLists.txt
  storage/kvstore/filesystemstore/CMakeLists.txt
  storage/kvstore/tdbstore/CMakeLists.txt
  targets/TARGET_NUVOTON/TARGET_M2354/TARGET_TFM/TARGET_NU_M2354/COMPONENT_TFM_S_FW/CMakeLists.txt
  targets/TARGET_NUVOTON/scripts/mbed_set_post_build_nuvoton.cmake
  targets/targets.json
  tools/cmake/README.md
  tools/cmake/mbed_greentea.cmake
Labels: ready for merge, component: hal, component: tools, component: core, release-type: patch

#14997 python: Upgrade pywin32
  requirements.txt
Labels: ready for merge, release-type: patch

#14990 Driver: USB: STM32L1: Managing internal pullups for usb enumeration
  targets/TARGET_STM/USBPhy_STM32.cpp
Labels: devices: st, ready for merge

#14976 Add more uarts for STM32F103xG
  targets/TARGET_STM/TARGET_STM32F1/serial_device.c
Labels: devices: st, ready for merge, release-type: patch

#14982 CYW43XXX Cordio HCI driver: fixed MCU deep-sleep locking flow
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/CyH4TransportDriver.cpp
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/CyH4TransportDriver.h
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/HCIDriver.cpp
Labels: ready for merge, component: connectivity, release-type: patch

#15003 Add bluetooth support files to Cypress BSPs.
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT064B0S2_4343W/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT064B0S2_4343W/bluetooth/cybsp_bt_config.h
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062S2_43012/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062S2_43012/bluetooth/cybsp_bt_config.h
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062_WIFI_BT/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062_WIFI_BT/bluetooth/cybsp_bt_config.h
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062S3_4343W/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062S3_4343W/bluetooth/cybsp_bt_config.h
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062_4343W/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CPROTO_062_4343W/bluetooth/cybsp_bt_config.h
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYSBSYSKIT_01/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYSBSYSKIT_01/bluetooth/cybsp_bt_config.h
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43012EVB_01/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43012EVB_01/bluetooth/cybsp_bt_config.h
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43438EVB_01/bluetooth/cybsp_bt_config.c
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYW9P62S1_43438EVB_01/bluetooth/cybsp_bt_config.h
Labels: ready for merge, devices: cypress, release-type: patch

#15002 Add missing include for PinNames.h
  drivers/include/drivers/interfaces/InterfaceDigitalIn.h
Labels: ready for merge, component: hal, component: core, release-type: patch

#14993 Add boilerplate unit test code to currently untested modules
  .codecheckignore
  drivers/tests/UNITTESTS/AnalogIn/CMakeLists.txt
  drivers/tests/UNITTESTS/AnalogIn/test_analogin.cpp
  drivers/tests/UNITTESTS/CMakeLists.txt
  hal/tests/UNITTESTS/doubles/CMakeLists.txt
  hal/tests/UNITTESTS/doubles/analogin_api_stub.c
Labels: ready for merge, component: hal, component: core, release-type: patch

#14935 mbed_retarget: enable IAR build
  platform/include/platform/mbed_retarget.h
Labels: ready for merge, component: core, release-type: patch

#15006 Disabled interrupts on smt32f7 and stm32h7 before calling disable data cache
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F7/TARGET_DISCO_F746NG/stm32f7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F7/TARGET_DISCO_F769NI/stm32f7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F7/TARGET_NUCLEO_F746ZG/stm32f7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F7/TARGET_NUCLEO_F756ZG/stm32f7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32F7/TARGET_NUCLEO_F767ZI/stm32f7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32H7/TARGET_DISCO_H747I/stm32h7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32H7/TARGET_NUCLEO_H743ZI/stm32h7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32H7/TARGET_NUCLEO_H743ZI2/stm32h7_eth_init.c
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32H7/TARGET_PORTENTA_H7/stm32h7_eth_init.c
Labels: devices: st, ready for merge, component: connectivity, release-type: patch

#15000 Fix Extended Message Filter count in STM CAN API
  targets/TARGET_STM/can_api.c
Labels: devices: st, ready for merge, release-type: patch

#15008 TESTS: Reduce allocate memory size
  rtos/tests/TESTS/mbed_rtos/malloc/main.cpp
Labels: ready for merge, component: core, release-type: patch

#14988 CYW43XXX Cordio HCI driver: update BT power up sequences to remove redundant delay (500ms) during HCIDrive initialization
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/CyH4TransportDriver.cpp
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/CyH4TransportDriver.h
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/HCIDriver.cpp
Labels: ready for merge, component: connectivity, release-type: patch

#14956 STM32_gen_PeripheralPins script update
  targets/TARGET_STM/tools/STM32_gen_PeripheralPins.py
Labels: devices: st, ready for merge, release-type: patch

#15012 Add platform MTS_DRAGONFLY_L496VG
  hal/tests/TESTS/mbed_hal/qspi/flash_configs/flash_configs.h
  platform/mbed_lib.json
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/TARGET_MTS_DRAGONFLY_L496VG/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/TARGET_MTS_DRAGONFLY_L496VG/ONBOARD_QUECTEL_EG25.cpp
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/TARGET_MTS_DRAGONFLY_L496VG/ONBOARD_QUECTEL_EG25.h
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/TARGET_MTS_DRAGONFLY_L496VG/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/TARGET_MTS_DRAGONFLY_L496VG/PinNames.h
  targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L496xG/TARGET_MTS_DRAGONFLY_L496VG/TargetInit.c
  targets/targets.json
Labels: devices: st, ready for merge, scope: new-target, component: hal, component: core, release-type: patch

#15018 hal-tests-tests-mbed_hal-flash compilation warning
  hal/tests/TESTS/mbed_hal/flash/functional_tests/main.cpp
Labels: ready for merge, component: hal, release-type: patch

#15016 Fix IAR cmsis update breakage
  cmsis/CMSIS_5/CMSIS/RTOS2/RTX/Source/TOOLCHAIN_IAR/TARGET_M0/irq_cm0.S
  cmsis/CMSIS_5/CMSIS/RTOS2/RTX/Source/TOOLCHAIN_IAR/TARGET_M0P/irq_cm0.S
  cmsis/CMSIS_5/CMSIS/RTOS2/RTX/Source/TOOLCHAIN_IAR/TARGET_M23/irq_armv8mbl_common.S
  cmsis/CMSIS_5/CMSIS/RTOS2/RTX/Source/TOOLCHAIN_IAR/TARGET_M3/irq_cm3.S
  cmsis/CMSIS_5/CMSIS/RTOS2/RTX/Source/TOOLCHAIN_IAR/TARGET_M33/irq_armv8mml_common.S
  cmsis/CMSIS_5/CMSIS/RTOS2/RTX/Source/TOOLCHAIN_IAR/TARGET_RTOS_M4_M7/irq_cm4f.S
  tools/importer/cmsis_importer.json
Labels: ready for merge, component: tools, component: core, release-type: patch

#15011 Travis CI migration to GitHub Actions
  .github/workflows/basic_checks.yml
  .github/workflows/docker_management.publish.yml
  .github/workflows/docker_management.test.yml
  .travis.yml
  README.md
  docker_images/mbed-os-env/Dockerfile
  docker_images/mbed-os-env/README.md
  tools/test/ci/doxy-spellchecker/en.dat
  tools/test/ci/doxy-spellchecker/en_affix.dat
  tools/test/ci/doxy-spellchecker/en_phonet.dat
  tools/test/ci/doxy-spellchecker/ignore.en.pws
  tools/test/ci/doxy-spellchecker/spell.sh
  tools/test/ci/scancode-evaluate.py
  tools/test/ci/scancode_evaluate_test.py
  tools/test/ci/scancode_test/scancode_test_1.json
  tools/test/ci/scancode_test/scancode_test_2.json
  tools/test/ci/scancode_test/scancode_test_3.json
  tools/test/ci/scancode_test/scancode_test_4.json
  tools/test/travis-ci/functions.sh
Labels: ready for merge, release-version: 5.15.8

#15017 STM32WL fixed current consumption for mode RBI_CONF_RFO_HP
  connectivity/drivers/lora/TARGET_STM32WL/STM32WL_LoRaRadio.cpp
  connectivity/drivers/lora/TARGET_STM32WL/mbed_lib.json
Labels: ready for merge, component: connectivity, release-type: patch
