Repository ARMmbed/mbed-os, pull requests merged in 2021-07, with the labels that each got.

#14807 M2354: inherit PSA_V8_M devices
  targets/targets.json
Labels: ready for merge, release-type: patch

#14718 Feature: Make changes for Cortex-A5 support
  cmsis/device/rtos/source/mbed_boot.c
  hal/source/mbed_critical_section_api.c
  hal/tests/TESTS/mbed_hal/critical_section/main.cpp
  platform/include/platform/mbed_application.h
  platform/source/mbed_application.c
  platform/source/mbed_critical.c
  platform/source/mbed_sdk_boot.c
  platform/source/mbed_wait_api_no_rtos.c
  platform/tests/TESTS/mbed_platform/stats_cpu/main.cpp
  rtos/tests/TESTS/mbed_rtos/malloc/main.cpp
  rtos/tests/TESTS/mbed_rtos/threads/main.cpp
  tools/cmake/cores/Cortex-A.cmake
  tools/cmake/cores/Cortex-M0+.cmake
  tools/cmake/cores/Cortex-M0.cmake
  tools/cmake/cores/Cortex-M1.cmake
  tools/cmake/cores/Cortex-M23-NS.cmake
  tools/cmake/cores/Cortex-M23.cmake
  tools/cmake/cores/Cortex-M3.cmake
  tools/cmake/cores/Cortex-M33-NS.cmake
  tools/cmake/cores/Cortex-M33.cmake
  tools/cmake/cores/Cortex-M33F-NS.cmake
  tools/cmake/cores/Cortex-M33F.cmake
  tools/cmake/cores/Cortex-M33FE-NS.cmake
  tools/cmake/cores/Cortex-M33FE.cmake
  tools/cmake/cores/Cortex-M4.cmake
  tools/cmake/cores/Cortex-M4F.cmake
  tools/cmake/cores/Cortex-M55.cmake
  tools/cmake/cores/Cortex-M7.cmake
  tools/cmake/cores/Cortex-M7F.cmake
  tools/cmake/cores/Cortex-M7FD.cmake
  tools/cmake/mbed_toolchain.cmake
  tools/export/gnuarmeclipse/__init__.py
  tools/export/mcuxpresso/__init__.py
  tools/targets/__init__.py
  tools/toolchains/arm.py
  tools/toolchains/gcc.py
  tools/toolchains/mbed_toolchain.py
Labels: component: core, component: hal, component: tools, needs: review, release-type: feature

#14820 BLE: Clarify ble event docs with crossreferences
  connectivity/FEATURE_BLE/include/ble/Gap.h
  connectivity/FEATURE_BLE/include/ble/GattClient.h
  connectivity/FEATURE_BLE/include/ble/GattServer.h
  connectivity/FEATURE_BLE/include/ble/SecurityManager.h
Labels: component: connectivity, ready for merge, release-type: patch, stale

#14850 PSA: Fix compile error with NV seed
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_MBED_PSA_SRV/test_abstraction_layers/pal/pal_mbed_os_intf.cpp
Labels: component: core, component: security, ready for merge, release-type: patch

#14864 analogout: STM32: modified analogout_free api
  targets/TARGET_STM/TARGET_STM32F0/analogout_device.c
  targets/TARGET_STM/TARGET_STM32F1/analogout_device.c
  targets/TARGET_STM/TARGET_STM32F2/analogout_device.c
  targets/TARGET_STM/TARGET_STM32F3/analogout_device.c
  targets/TARGET_STM/TARGET_STM32G4/analogout_device.c
  targets/TARGET_STM/TARGET_STM32H7/analogout_device.c
  targets/TARGET_STM/TARGET_STM32L0/analogout_device.c
  targets/TARGET_STM/TARGET_STM32L1/analogout_device.c
  targets/TARGET_STM/TARGET_STM32L4/analogout_device.c
  targets/TARGET_STM/TARGET_STM32L5/analogout_device.c
Labels: devices: st, ready for merge, release-type: patch

#14875 enable google and azure example application tests in ci
  tools/test/examples/cloud_examples.json
Labels: component: tools, ready for merge, release-type: patch

#14876 CMake: greentea: Remove dependency on global MBED_PATH
  tools/cmake/mbed_greentea.cmake
Labels: component: tools, ready for merge, release-type: patch

#14783 tfm-post-build: Don't capture subprocess stdout
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/scripts/generate_mbed_image.py
  tools/targets/ARM_MUSCA.py
Labels: component: core, component: security, needs: review, release-type: patch

#14862 Unit tests: Move storage stubs into the storage directory
  UNITTESTS/stubs/CMakeLists.txt
  UNITTESTS/stubs/EmulatedSD.h
  UNITTESTS/stubs/storage/CMakeLists.txt
  UNITTESTS/stubs/storage/EmulatedSD.cpp
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularcontext/CMakeLists.txt
  storage/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/SFDP/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/BufferedBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ChainingBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ExhaustibleBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/FlashSimBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/HeapBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/MBRBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ObservingBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ProfilingBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ReadOnlyBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/SlicingBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/doubles/BlockDevice_mock.h
  storage/blockdevice/tests/UNITTESTS/doubles/BufferedBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/doubles/ChainingBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/ExhaustibleBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/FlashSimBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/HeapBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/MBRBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/ObservingBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/ProfilingBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/ReadOnlyBlockDevice_stub.cpp
  storage/blockdevice/tests/UNITTESTS/doubles/SlicingBlockDevice_stub.cpp
  storage/filesystem/CMakeLists.txt
  storage/filesystem/tests/UNITTESTS/.mbedignore
  storage/filesystem/tests/UNITTESTS/CMakeLists.txt
  storage/kvstore/CMakeLists.txt
  storage/kvstore/filesystemstore/tests/UNITTESTS/CMakeLists.txt
  storage/kvstore/filesystemstore/tests/UNITTESTS/FileSystemStore/CMakeLists.txt
  storage/kvstore/filesystemstore/tests/UNITTESTS/doubles/CMakeLists.txt
  storage/kvstore/filesystemstore/tests/UNITTESTS/doubles/filesystemstore_kv_config_stub.cpp
  storage/kvstore/tdbstore/tests/UNITTESTS/TDBStore/CMakeLists.txt
  storage/kvstore/tests/UNITTESTS/.mbedignore
  storage/kvstore/tests/UNITTESTS/CMakeLists.txt
Labels: component: core, component: test, ready for merge, release-type: patch

#14874 CMake: Replace `MBED_TEST_LINK_LIBRARIES` with `MBED_TEST_BAREMETAL`
  tools/cmake/README.md
  tools/cmake/app.cmake
  tools/cmake/mbed_greentea.cmake
Labels: component: tools, needs: work, release-type: patch

#14842 Move connectivity lora stubs
  UNITTESTS/stubs/CMakeLists.txt
  UNITTESTS/stubs/connectivity/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaMacChannelPlan_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaMacCommand_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaMacCommand_stub.h
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaMacCrypto_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaMacCrypto_stub.h
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaMac_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaMac_stub.h
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaPHYEU868_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaPHY_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaPHY_stub.h
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaWANStack_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaWANTimer_stub.cpp
  connectivity/lorawan/tests/UNITTESTS/doubles/LoRaWANTimer_stub.h
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramac/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramacchannelplan/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccommand/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccrypto/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphy/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyas923/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyau915/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphycn470/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphycn779/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyeu433/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyeu868/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyin865/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphykr920/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyus915/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawaninterface/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawanstack/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawantimer/CMakeLists.txt
Labels: component: connectivity, component: test, ready for merge, release-type: patch

#14849 SPIFBlockDevice: Add mbed namespace to BD_ERROR_DEVICE_ERROR
  storage/blockdevice/COMPONENT_SPIF/include/SPIF/SPIFBlockDevice.h
Labels: component: core, ready for merge, release-type: patch, stale

#14835 Move stubs cellular headers
  connectivity/cellular/tests/UNITTESTS/doubles/ATHandler_stub.h
  connectivity/cellular/tests/UNITTESTS/doubles/AT_CellularDevice_stub.h
  connectivity/cellular/tests/UNITTESTS/doubles/AT_CellularNetwork_stub.h
  connectivity/cellular/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/doubles/CellularDevice_stub.h
  connectivity/cellular/tests/UNITTESTS/doubles/CellularStateMachine_stub.h
  connectivity/cellular/tests/UNITTESTS/doubles/CellularUtil_stub.h
Labels: component: connectivity, component: test, ready for merge, release-type: patch

#14884 Remove the `UNITTEST` macro from production code
  UNITTESTS/target_h/platform/cxxsupport/mstd_type_traits
  UNITTESTS/target_h/platform/mbed_assert.h
  connectivity/cellular/tests/UNITTESTS/framework/device/athandler/CMakeLists.txt
  drivers/include/drivers/MbedCRC.h
  rtos/include/rtos/Thread.h
  rtos/include/rtos/internal/mbed_rtos1_types.h
  rtos/include/rtos/internal/mbed_rtos_storage.h
  rtos/include/rtos/mbed_rtos_types.h
  rtos/tests/UNITTESTS/doubles/CMakeLists.txt
  storage/kvstore/filesystemstore/tests/UNITTESTS/FileSystemStore/CMakeLists.txt
  storage/kvstore/tdbstore/tests/UNITTESTS/TDBStore/CMakeLists.txt
Labels: component: connectivity, component: core, component: hal, component: test, ready for merge, release-type: patch

#14882 Unit tests: storage: Only use headers, sources and definitions needed by each test
  storage/blockdevice/tests/UNITTESTS/SFDP/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/BufferedBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ChainingBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ExhaustibleBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/FlashSimBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/HeapBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/MBRBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ObservingBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ProfilingBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ReadOnlyBlockDevice/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/SlicingBlockDevice/CMakeLists.txt
  storage/kvstore/filesystemstore/tests/UNITTESTS/FileSystemStore/CMakeLists.txt
  storage/kvstore/tdbstore/tests/UNITTESTS/TDBStore/CMakeLists.txt
Labels: component: core, ready for merge, release-type: patch

#14773 Move mbed-stubs-platform to the platform directory
  UNITTESTS/stubs/CMakeLists.txt
  UNITTESTS/stubs/connectivity/CMakeLists.txt
  UNITTESTS/stubs/platform/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/doubles/CMakeLists.txt
  platform/tests/UNITTESTS/ATCmdParser/CMakeLists.txt
  platform/tests/UNITTESTS/CMakeLists.txt
  platform/tests/UNITTESTS/CircularBuffer/CMakeLists.txt
  platform/tests/UNITTESTS/doubles/CMakeLists.txt
  platform/tests/UNITTESTS/doubles/FileHandle_stub.cpp
  platform/tests/UNITTESTS/doubles/FileHandle_stub.h
  platform/tests/UNITTESTS/doubles/mbed_assert_stub.cpp
  platform/tests/UNITTESTS/doubles/mbed_atomic_stub.c
  platform/tests/UNITTESTS/doubles/mbed_critical_stub.c
  platform/tests/UNITTESTS/doubles/mbed_error.c
  platform/tests/UNITTESTS/doubles/mbed_poll_stub.cpp
  platform/tests/UNITTESTS/doubles/mbed_poll_stub.h
  platform/tests/UNITTESTS/doubles/mbed_retarget_stub.cpp
  platform/tests/UNITTESTS/doubles/mbed_wait_api_stub.cpp
  platform/tests/UNITTESTS/doubles/nvic_wrapper_stub.c
  platform/tests/UNITTESTS/doubles/randLIB_stub.c
  platform/tests/UNITTESTS/doubles/randLIB_stub.cpp
Labels: component: core, component: test, ready for merge, release-type: patch

#14873 Move connectivity netsocket stubs
  UNITTESTS/stubs/CMakeLists.txt
  UNITTESTS/stubs/connectivity/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularcontext/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellulardevice/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularinformation/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularnetwork/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularsms/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularstack/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/common/util/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/athandler/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularcontext/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellulardevice/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularstatemachine/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/doubles/CellularInterface_stub.cpp
  connectivity/netsocket/tests/UNITTESTS/doubles/ControlPlane_netif_stub.h
  connectivity/netsocket/tests/UNITTESTS/doubles/EMAC_mock.h
  connectivity/netsocket/tests/UNITTESTS/doubles/MeshInterface_stub.cpp
  connectivity/netsocket/tests/UNITTESTS/doubles/NetworkInterfaceDefaults_stub.cpp
  connectivity/netsocket/tests/UNITTESTS/doubles/NetworkInterface_stub.cpp
  connectivity/netsocket/tests/UNITTESTS/doubles/NetworkStack_stub.cpp
  connectivity/netsocket/tests/UNITTESTS/doubles/NetworkStack_stub.h
  connectivity/netsocket/tests/UNITTESTS/doubles/OnboardNetworkStack_mock.h
  connectivity/netsocket/tests/UNITTESTS/doubles/SocketAddress_stub.cpp
  connectivity/netsocket/tests/UNITTESTS/doubles/SocketStats_Stub.cpp
  connectivity/netsocket/tests/UNITTESTS/doubles/nsapi_dns_stub.cpp
  connectivity/netsocket/tests/UNITTESTS/netsocket/CellularNonIPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/EthernetInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/IfaceDnsSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/InternetSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkStack/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/PPPInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/SocketAddress/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TCPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/UDPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/WiFiAccessPoint/CMakeLists.txt
Labels: component: connectivity, component: test, ready for merge, release-type: patch

#14881 Standard Pin Name: LED1 issue for targets without LED
  drivers/tests/TESTS/mbed_drivers/generic_tests/main.cpp
  events/tests/TESTS/events/timing/main.cpp
  hal/tests/TESTS/pin_names/generic/main.cpp
Labels: component: core, component: hal, ready for merge, release-type: patch

#14803 Use standalone greentea-client
  CMakeLists.txt
  extern/CMakeLists.txt
  extern/README.md
  features/CMakeLists.txt
  features/frameworks/greentea-client/README.md
  features/frameworks/unity/CMakeLists.txt
  features/frameworks/utest/CMakeLists.txt
  tools/cmake/mbed_greentea.cmake
Labels: component: test, component: tools, ready for merge, release-type: patch

#14887 Updated can bit timing parameters as per the ISO11898-2
  targets/TARGET_STM/can_api.c
Labels: devices: st, ready for merge, release-type: patch

#14844 Analogout free implementation for F4/F7/H7 boards
  targets/TARGET_STM/TARGET_STM32F4/analogout_device.c
  targets/TARGET_STM/TARGET_STM32F4/objects.h
  targets/TARGET_STM/TARGET_STM32F7/analogout_device.c
  targets/TARGET_STM/TARGET_STM32H7/analogout_device.c
Labels: devices: st, ready for merge, release-type: patch

#14843 InterruptIn : STM32: Implemented error catching for multiple gpio on the same irq line
  targets/TARGET_STM/gpio_irq_api.c
Labels: devices: st, ready for merge, release-type: patch

#14838 Eth: STM32: Updating documentation on mbed_otp_mac_address()
  connectivity/drivers/emac/TARGET_STM/stm32xx_emac.cpp
  targets/TARGET_STM/README.md
Labels: devices: st, ready for merge, release-type: patch

#14808 driver/i2c: STM32: I2C performance issue solved.
  targets/TARGET_STM/README.md
  targets/TARGET_STM/TARGET_STM32F0/i2c_device.c
  targets/TARGET_STM/TARGET_STM32F0/i2c_device.h
  targets/TARGET_STM/TARGET_STM32F0/objects.h
  targets/TARGET_STM/TARGET_STM32F3/i2c_device.c
  targets/TARGET_STM/TARGET_STM32F3/i2c_device.h
  targets/TARGET_STM/TARGET_STM32F3/objects.h
  targets/TARGET_STM/TARGET_STM32F7/i2c_device.c
  targets/TARGET_STM/TARGET_STM32F7/i2c_device.h
  targets/TARGET_STM/TARGET_STM32F7/objects.h
  targets/TARGET_STM/TARGET_STM32G0/i2c_device.c
  targets/TARGET_STM/TARGET_STM32G0/i2c_device.h
  targets/TARGET_STM/TARGET_STM32G0/objects.h
  targets/TARGET_STM/TARGET_STM32G4/i2c_device.c
  targets/TARGET_STM/TARGET_STM32G4/i2c_device.h
  targets/TARGET_STM/TARGET_STM32G4/objects.h
  targets/TARGET_STM/TARGET_STM32H7/i2c_device.c
  targets/TARGET_STM/TARGET_STM32H7/i2c_device.h
  targets/TARGET_STM/TARGET_STM32H7/objects.h
  targets/TARGET_STM/TARGET_STM32L0/i2c_device.c
  targets/TARGET_STM/TARGET_STM32L0/i2c_device.h
  targets/TARGET_STM/TARGET_STM32L0/objects.h
  targets/TARGET_STM/TARGET_STM32L4/i2c_device.c
  targets/TARGET_STM/TARGET_STM32L4/i2c_device.h
  targets/TARGET_STM/TARGET_STM32L4/objects.h
  targets/TARGET_STM/TARGET_STM32L5/i2c_device.c
  targets/TARGET_STM/TARGET_STM32L5/i2c_device.h
  targets/TARGET_STM/TARGET_STM32L5/objects.h
  targets/TARGET_STM/TARGET_STM32WB/i2c_device.c
  targets/TARGET_STM/TARGET_STM32WB/i2c_device.h
  targets/TARGET_STM/TARGET_STM32WB/objects.h
  targets/TARGET_STM/TARGET_STM32WL/i2c_device.c
  targets/TARGET_STM/TARGET_STM32WL/i2c_device.h
  targets/TARGET_STM/TARGET_STM32WL/objects.h
  targets/TARGET_STM/i2c_api.c
Labels: devices: st, ready for merge, release-type: patch

#14663 Portenta: Add support to generic COMPONENT_WHD
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/generated_mac_address.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/interface/cy_result.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/interface/cyabs_rtos.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/interface/cyabs_rtos_impl.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/interface/cyabs_rtos_rtxv5.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/interface/cyhal_gpio.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/interface/cyhal_sdio.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/interface/cyhal_spi.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cy_hal.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cy_syslib.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cy_utils.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cybsp.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cycfg.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cyhal.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cyhal_gpio.cpp
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cyhal_hw_types.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cyhal_sdio.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cyhal_spi.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/cyhal_system.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/wiced_bd.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/wiced_filesystem.cpp
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/port/wiced_filesystem.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/resources/LICENSE-permissive-binary-license-1.0.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/resources/firmware/COMPONENT_4343W_FS/4343WA1_bin.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/resources/firmware/COMPONENT_4343W_FS/4343WA1_clm_blob.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/resources/firmware/COMPONENT_4343W_FS/resources.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/resources/nvram/wifi_nvram_image.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_WHD/whd_config.h
  targets/targets.json
Labels: devices: st, ready for merge, release-type: patch

#14227 CYW43XXX: Add generic transport layer
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/CyH4TransportDriver.cpp
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/CyH4TransportDriver.h
Labels: ready for merge, release-type: feature

#14897 ST BLUENRG BLE: STWIN SensorTile board introduction
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_BlueNRG_MS/mbed_lib.json
Labels: ready for merge, release-type: patch

#14898 Fix gcc_arm linker script for stm32f407xg targets
  targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F407xG/TOOLCHAIN_GCC_ARM/stm32f407xg.ld
Labels: ready for merge, release-type: patch

#14870 CMake: Remove mbed-stubs-rtos-headers library
  CMakeLists.txt
  UNITTESTS/CMakeLists.txt
  UNITTESTS/stubs/connectivity/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularcontext/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularstack/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularstatemachine/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/doubles/CMakeLists.txt
  rtos/tests/UNITTESTS/doubles/CMakeLists.txt
Labels: component: connectivity, component: core, component: test, ready for merge, release-type: patch

#14899 STM32WL: correct CMakeLists.txt for STM32WLE5xC
  targets/TARGET_STM/TARGET_STM32WL/CMakeLists.txt
Labels: ready for merge, release-type: patch

#14888 Portenta: Add BLE support using CYW43XXX generic transport layer
  connectivity/drivers/ble/FEATURE_BLE/COMPONENT_CYW43XXX/TARGET_PORTENTA_H7/cy_bt_cordio_cfg.cpp
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_CYW43XXX/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_CYW43XXX/firmware/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_CYW43XXX/firmware/COMPONENT_4343W_FS/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/COMPONENT_CYW43XXX/firmware/COMPONENT_4343W_FS/w_bt_firmware_controller.c
  targets/targets.json
Labels: component: connectivity, devices: st, ready for merge, release-type: patch

#14823 Move events stubs to events dir
  UNITTESTS/fakes/CMakeLists.txt
  UNITTESTS/stubs/CMakeLists.txt
  UNITTESTS/stubs/events/CMakeLists.txt
  events/tests/UNITTESTS/CMakeLists.txt
  events/tests/UNITTESTS/doubles/CMakeLists.txt
  events/tests/UNITTESTS/doubles/EqueuePosix_stub.c
  events/tests/UNITTESTS/doubles/EventFlags_stub.cpp
  events/tests/UNITTESTS/doubles/EventQueue_stub.cpp
  events/tests/UNITTESTS/doubles/EventQueue_stub.h
  events/tests/UNITTESTS/doubles/equeue_stub.c
  events/tests/UNITTESTS/doubles/equeue_stub.h
  events/tests/UNITTESTS/doubles/fakes/CMakeLists.txt
  events/tests/UNITTESTS/doubles/fakes/events/EventQueue.cpp
  events/tests/UNITTESTS/doubles/fakes/events/EventQueue.h
  events/tests/UNITTESTS/doubles/mbed_shared_queues_stub.cpp
Labels: component: connectivity, component: core, component: test, ready for merge, release-type: patch

#14824 BLE: Manual BLE security manager db synchronisation
  UNITTESTS/fakes/ble/SecurityManagerImpl_mock.h
  UNITTESTS/fakes/ble/source/generic/SecurityManagerImpl.h
  connectivity/FEATURE_BLE/include/ble/SecurityManager.h
  connectivity/FEATURE_BLE/source/SecurityManager.cpp
  connectivity/FEATURE_BLE/source/generic/FileSecurityDb.cpp
  connectivity/FEATURE_BLE/source/generic/FileSecurityDb.h
  connectivity/FEATURE_BLE/source/generic/KVStoreSecurityDb.cpp
  connectivity/FEATURE_BLE/source/generic/KVStoreSecurityDb.h
  connectivity/FEATURE_BLE/source/generic/SecurityDb.h
  connectivity/FEATURE_BLE/source/generic/SecurityManagerImpl.cpp
  connectivity/FEATURE_BLE/source/generic/SecurityManagerImpl.h
Labels: component: connectivity, component: test, ready for merge, release-type: feature

#14688 Solution for mutex problem in CAN read ISR
  drivers/include/drivers/RawCAN.h
  mbed.h
  targets/TARGET_STM/README.md
  targets/TARGET_STM/TARGET_STM32F0/objects.h
  targets/TARGET_STM/TARGET_STM32F1/objects.h
  targets/TARGET_STM/TARGET_STM32F2/objects.h
  targets/TARGET_STM/TARGET_STM32F3/objects.h
  targets/TARGET_STM/TARGET_STM32F4/objects.h
  targets/TARGET_STM/TARGET_STM32F7/objects.h
  targets/TARGET_STM/TARGET_STM32L4/objects.h
  targets/TARGET_STM/TARGET_STM32L5/objects.h
  targets/TARGET_STM/can_api.c
Labels: devices: st, ready for merge, release-type: feature

#14913 802.15.4 stm-s2lp-rf-driver update to v1.0.10
  connectivity/drivers/802.15.4_RF/stm-s2lp-rf-driver/source/NanostackRfPhys2lp.cpp
Labels: ready for merge, release-type: patch

#14895 ADC: STM32H7: Skip Negative input analog channels (INN)
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H743xI/TARGET_NUCLEO_H743ZI2/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_DISCO_H747I/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H747xI/TARGET_PORTENTA_H7/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H7A3xIQ/TARGET_NUCLEO_H7A3ZI_Q/PeripheralPins.c
  targets/TARGET_STM/tools/STM32_gen_PeripheralPins.py
Labels: devices: st, ready for merge, release-type: patch

#14890 Move connectivity mbedtls stubs
  UNITTESTS/stubs/CMakeLists.txt
  UNITTESTS/stubs/connectivity/CMakeLists.txt
  connectivity/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramac/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccommand/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccrypto/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawaninterface/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawanstack/CMakeLists.txt
  connectivity/mbedtls/CMakeLists.txt
  connectivity/mbedtls/tests/UNITTESTS/.mbedignore
  connectivity/mbedtls/tests/UNITTESTS/CMakeLists.txt
  connectivity/mbedtls/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/mbedtls/tests/UNITTESTS/doubles/aes_stub.c
  connectivity/mbedtls/tests/UNITTESTS/doubles/aes_stub.h
  connectivity/mbedtls/tests/UNITTESTS/doubles/cipher_stub.c
  connectivity/mbedtls/tests/UNITTESTS/doubles/cipher_stub.h
  connectivity/mbedtls/tests/UNITTESTS/doubles/cmac_stub.c
  connectivity/mbedtls/tests/UNITTESTS/doubles/cmac_stub.h
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/EthernetInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/IfaceDnsSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/PPPInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocketWrapper/CMakeLists.txt
Labels: component: connectivity, component: security, component: test, ready for merge, release-type: patch

#14905 STM32 : README updates about custom boards
  targets/TARGET_STM/README.md
  targets/TARGET_STM/TARGET_STM32WL/README.md
Labels: devices: st, ready for merge, release-type: patch

#14896 Move connectivity nanostack libservice stub
  UNITTESTS/stubs/CMakeLists.txt
  UNITTESTS/stubs/connectivity/CMakeLists.txt
  connectivity/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularstack/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularcontext/CMakeLists.txt
  connectivity/libraries/CMakeLists.txt
  connectivity/libraries/tests/UNITTESTS/.mbedignore
  connectivity/libraries/tests/UNITTESTS/CMakeLists.txt
  connectivity/libraries/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/libraries/tests/UNITTESTS/doubles/ip4tos_stub.c
  connectivity/libraries/tests/UNITTESTS/doubles/stoip4_stub.c
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/EthernetInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/IfaceDnsSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/InternetSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkStack/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/PPPInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/SocketAddress/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TCPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/UDPSocket/CMakeLists.txt
Labels: component: connectivity, component: security, component: test, ready for merge, release-type: patch

#14830 MAX32630FTHR: Port USBSerial from mbed6.x
  targets/TARGET_Maxim/USBEndpoints_Maxim.h
  targets/TARGET_Maxim/USBPhyHw.h
  targets/TARGET_Maxim/USBPhy_Maxim.cpp
  targets/targets.json
Labels: ready for merge, release-version: 5.15.8

#14805 i2c: fix issue #14735 with multiple buses
  drivers/include/drivers/I2C.h
  drivers/source/I2C.cpp
Labels: component: core, component: hal, ready for merge, release-type: patch

#14821 RTOS: Add configuration to enable RTX events
  cmsis/device/rtos/include/mbed_rtx_conf.h
  cmsis/device/rtos/mbed_lib.json
Labels: component: core, ready for merge, release-type: patch

#14894 Unit tests: Connectivity: Make lorawan test header dependencies explicit
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramac/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramacchannelplan/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccommand/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccrypto/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphy/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyas923/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyau915/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphycn470/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphycn779/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyeu433/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyeu868/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyin865/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphykr920/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyus915/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawaninterface/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawanstack/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawantimer/CMakeLists.txt
Labels: component: connectivity, ready for merge, release-type: patch

#14909 SPIF: fixed _address_size to always initialize as 3_BYTES in ::init()
  storage/blockdevice/COMPONENT_SPIF/source/SPIFBlockDevice.cpp
Labels: component: core, ready for merge, release-type: patch

#14919 BLE: fix missing define guards for feature selection
  connectivity/FEATURE_BLE/source/cordio/source/BLEInstanceBaseImpl.cpp
  connectivity/FEATURE_BLE/source/cordio/source/BLEInstanceBaseImpl.h
  connectivity/FEATURE_BLE/source/cordio/source/GattServerImpl.cpp
  connectivity/FEATURE_BLE/source/cordio/source/GattServerImpl.h
  connectivity/FEATURE_BLE/source/generic/GattClientImpl.h
  connectivity/FEATURE_BLE/source/generic/SecurityManagerImpl.h
  connectivity/FEATURE_BLE/source/pal/PalAttClientToGattClient.cpp
  connectivity/FEATURE_BLE/source/pal/PalAttClientToGattClient.h
  connectivity/FEATURE_BLE/source/pal/PalGattClient.h
Labels: component: connectivity, ready for merge, release-type: patch

#14921 BLE: suppress error when no path is passed in for ble security db
  connectivity/FEATURE_BLE/source/generic/SecurityManagerImpl.cpp
Labels: component: connectivity, ready for merge, release-type: patch

#14922 Cellular: AT command fix - hex string shouldn't be quoted on bc95
  connectivity/cellular/include/cellular/framework/API/ATHandler.h
  connectivity/cellular/source/framework/device/ATHandler.cpp
  connectivity/drivers/cellular/QUECTEL/BC95/QUECTEL_BC95_CellularStack.cpp
Labels: component: connectivity, ready for merge, release-type: patch

#14927 add workflow for checking ble feature selection compilation
  .github/workflows/run_conditional_ble_feature_compilation.yml
Labels: ready for merge, release-type: patch

#14924 Refactor cellular unittest CMake
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularcontext/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellulardevice/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularinformation/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularnetwork/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularsms/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/AT/at_cellularstack/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/common/list/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/common/util/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/athandler/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularcontext/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellulardevice/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularstatemachine/CMakeLists.txt
Labels: component: connectivity, ready for merge, release-type: patch

#14920 Refactor connectivity netsocket unittests
  connectivity/netsocket/tests/UNITTESTS/netsocket/CellularNonIPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/EthernetInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/IfaceDnsSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/InternetSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkStack/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/PPPInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/SocketAddress/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TCPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/UDPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/WiFiAccessPoint/CMakeLists.txt
Labels: component: connectivity, ready for merge, release-type: patch

#14932 Remove host_tests from mbed-os/tools
  tools/host_tests/__init__.py
  tools/host_tests/default_auto.py
  tools/host_tests/detect_auto.py
  tools/host_tests/dev_null_auto.py
  tools/host_tests/echo.py
  tools/host_tests/echo_flow_control.py
  tools/host_tests/example/BroadcastReceive.py
  tools/host_tests/example/BroadcastSend.py
  tools/host_tests/example/MulticastReceive.py
  tools/host_tests/example/MulticastSend.py
  tools/host_tests/example/TCPEchoClient.py
  tools/host_tests/example/TCPEchoServer.py
  tools/host_tests/example/UDPEchoClient.py
  tools/host_tests/example/UDPEchoServer.py
  tools/host_tests/example/__init__.py
  tools/host_tests/hello_auto.py
  tools/host_tests/host_registry.py
  tools/host_tests/host_test.py
  tools/host_tests/host_tests_plugins/__init__.py
  tools/host_tests/host_tests_plugins/host_test_plugins.py
  tools/host_tests/host_tests_plugins/host_test_registry.py
  tools/host_tests/host_tests_plugins/module_copy_firefox.py
  tools/host_tests/host_tests_plugins/module_copy_mbed.py
  tools/host_tests/host_tests_plugins/module_copy_mps2.py
  tools/host_tests/host_tests_plugins/module_copy_shell.py
  tools/host_tests/host_tests_plugins/module_copy_silabs.py
  tools/host_tests/host_tests_plugins/module_copy_smart.py
  tools/host_tests/host_tests_plugins/module_reset_mbed.py
  tools/host_tests/host_tests_plugins/module_reset_mps2.py
  tools/host_tests/host_tests_plugins/module_reset_silabs.py
  tools/host_tests/mbedrpc.py
  tools/host_tests/midi.py
  tools/host_tests/net_test.py
  tools/host_tests/rpc.py
  tools/host_tests/rtc_auto.py
  tools/host_tests/serial_complete_auto.py
  tools/host_tests/serial_nc_rx_auto.py
  tools/host_tests/serial_nc_tx_auto.py
  tools/host_tests/stdio_auto.py
  tools/host_tests/tcpecho_client.py
  tools/host_tests/tcpecho_client_auto.py
  tools/host_tests/tcpecho_server.py
  tools/host_tests/tcpecho_server_auto.py
  tools/host_tests/tcpecho_server_loop.py
  tools/host_tests/udp_link_layer_auto.py
  tools/host_tests/udpecho_client.py
  tools/host_tests/udpecho_client_auto.py
  tools/host_tests/udpecho_server.py
  tools/host_tests/udpecho_server_auto.py
  tools/host_tests/wait_us_auto.py
  tools/host_tests/wfi_auto.py
  tools/test_api.py
Labels: component: tools, ready for merge, release-type: patch

#14912 Move ble stubs to FEATURE_BLE lib
  UNITTESTS/CMakeLists.txt
  UNITTESTS/fakes/CMakeLists.txt
  UNITTESTS/stubs/CMakeLists.txt
  connectivity/CMakeLists.txt
  connectivity/FEATURE_BLE/CMakeLists.txt
  connectivity/FEATURE_BLE/tests/UNITTESTS/.mbedignore
  connectivity/FEATURE_BLE/tests/UNITTESTS/CMakeLists.txt
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/BLE.cpp
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/CMakeLists.txt
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/GapImpl_mock.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/GattClientImpl_mock.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/GattServerImpl_mock.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/SecurityManagerImpl_mock.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/ble_mocks.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/source/GattServerImpl.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/source/GattServerImpl_mock.cpp
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/source/generic/GapImpl.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/source/generic/GattClientImpl.h
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/source/generic/SecurityManagerImpl.h
  connectivity/cellular/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/doubles/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramac/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccommand/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccrypto/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawaninterface/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawanstack/CMakeLists.txt
Labels: ready for merge, release-type: patch

#14730 Add config macros for device-variant, freq-support and xtal config
  connectivity/drivers/lora/COMPONENT_SX126X/SX126X_LoRaRadio.cpp
  connectivity/drivers/lora/COMPONENT_SX126X/SX126X_LoRaRadio.h
  connectivity/drivers/lora/COMPONENT_SX126X/mbed_lib.json
Labels: component: connectivity, ready for merge, release-type: feature

#14940 python: Allow newer prettytable with newer python
  requirements.txt
  tools/cmake/requirements.txt
Labels: component: tools, needs: review, needs: work, release-type: patch

#14939 Standard Pin Names validation script update
  hal/tests/pinvalidate/pinvalidate.py
Labels: component: hal, needs: CI, release-type: patch

#14914 Deprecate the Greentea metrics API
  features/frameworks/greentea-client/greentea-client/greentea_metrics.h
Labels: component: test, ready for merge

#14953 Rework post-build to support multiple executables
  .github/workflows/test_building_multiple_executables.yml
  CMakeLists.txt
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/scripts/mbed_set_post_build_tfm.cmake
  targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CYSBSYSKIT_01/CMakeLists.txt
  targets/TARGET_Cypress/scripts/mbed_set_post_build_cypress.cmake
  targets/TARGET_NUVOTON/scripts/mbed_set_post_build_nuvoton.cmake
  targets/TARGET_NXP/scripts/mbed_set_post_build_nxp.cmake
  tools/cmake/app.cmake
  tools/cmake/mbed_set_post_build.cmake
  tools/cmake/tests/multiple_executables/CMakeLists.txt
  tools/cmake/tests/multiple_executables/app1/CMakeLists.txt
  tools/cmake/tests/multiple_executables/app1/main.cpp
  tools/cmake/tests/multiple_executables/app2/CMakeLists.txt
  tools/cmake/tests/multiple_executables/app2/main.cpp
Labels: component: core, component: security, component: tools, devices: cypress, devices: nuvoton, devices: nxp, ready for merge, release-type: patch

#14945 TFM: Add missing IPC file for PSA Firmware Update
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/CMakeLists.txt
  platform/FEATURE_EXPERIMENTAL_API/FEATURE_PSA/TARGET_TFM/TARGET_TFM_LATEST/src/tfm_firmware_update_ipc_api.c
Labels: component: core, component: security, ready for merge, release-type: patch

#14831 DISCO_WB5MMG: add RGB LED
  targets/TARGET_STM/TARGET_STM32WB/TARGET_STM32WB5MxG/TARGET_DISCO_WB5MMG/PinNames.h
  targets/TARGET_STM/TARGET_STM32WB/TARGET_STM32WB5MxG/TARGET_DISCO_WB5MMG/Rgb_led.cpp
Labels: devices: st, ready for merge, release-type: patch

#14397 add SPI NAND Block device driver
  storage/blockdevice/COMPONENT_SPINAND/CMakeLists.txt
  storage/blockdevice/COMPONENT_SPINAND/include/SPINAND/SPINANDBlockDevice.h
  storage/blockdevice/COMPONENT_SPINAND/mbed_lib.json
  storage/blockdevice/COMPONENT_SPINAND/source/SPINANDBlockDevice.cpp
  storage/blockdevice/tests/TESTS/blockdevice/general_block_device/main.cpp
Labels: ready for merge, release-type: feature

#14948 Fix lorawantimer unit test
  connectivity/FEATURE_BLE/tests/UNITTESTS/doubles/fakes/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawanstack/Test_LoRaWANStack.cpp
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawantimer/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawantimer/Test_LoRaWANTimer.cpp
  events/tests/UNITTESTS/doubles/equeue_stub.h
  events/tests/UNITTESTS/doubles/fakes/CMakeLists.txt
  platform/tests/UNITTESTS/CircularBuffer/test_CircularBuffer.cpp
  platform/tests/UNITTESTS/doubles/CMakeLists.txt
  platform/tests/UNITTESTS/doubles/mbed_assert_stub.cpp
Labels: component: connectivity, component: core, component: test, ready for merge, release-type: patch

#14944 CMake: unittests: Show all tests in CTest report
  connectivity/cellular/tests/UNITTESTS/framework/common/list/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/common/util/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/athandler/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/athandler/athandlertest.cpp
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularcontext/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellulardevice/CMakeLists.txt
  connectivity/cellular/tests/UNITTESTS/framework/device/cellularstatemachine/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramac/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramac/Test_LoRaMac.cpp
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramacchannelplan/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccommand/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loramaccrypto/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphy/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyas923/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyau915/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphycn470/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphycn779/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyeu433/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyeu868/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyin865/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphykr920/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/loraphyus915/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawaninterface/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawanstack/CMakeLists.txt
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawanstack/Test_LoRaWANStack.cpp
  connectivity/lorawan/tests/UNITTESTS/features/lorawan/lorawantimer/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/CellularNonIPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/DTLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/EthernetInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/IfaceDnsSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/InternetSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/NetworkStack/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/PPPInterface/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/SocketAddress/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TCPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/TLSSocketWrapper/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/UDPSocket/CMakeLists.txt
  connectivity/netsocket/tests/UNITTESTS/netsocket/WiFiAccessPoint/CMakeLists.txt
  drivers/tests/UNITTESTS/PwmOut/CMakeLists.txt
  drivers/tests/UNITTESTS/Watchdog/CMakeLists.txt
  events/tests/UNITTESTS/equeue/CMakeLists.txt
  platform/tests/UNITTESTS/CircularBuffer/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/SFDP/CMakeLists.txt
  storage/blockdevice/tests/UNITTESTS/blockdevice/ChainingBlockDevice/CMakeLists.txt
  storage/kvstore/filesystemstore/tests/UNITTESTS/FileSystemStore/CMakeLists.txt
  storage/kvstore/tdbstore/tests/UNITTESTS/TDBStore/CMakeLists.txt
  storage/kvstore/tdbstore/tests/UNITTESTS/TDBStore/moduletest.cpp
Labels: component: connectivity, component: core, component: hal, ready for merge

#14910 Allow LoRaWAN STM32WL driver debug led to be inverted
  connectivity/drivers/lora/TARGET_STM32WL/STM32WL_LoRaRadio.cpp
  connectivity/drivers/lora/TARGET_STM32WL/mbed_lib.json
Labels: component: connectivity, ready for merge, release-type: patch

#14288 BG96: Add segmentation to TCP socket send
  connectivity/drivers/cellular/QUECTEL/BG96/QUECTEL_BG96_CellularStack.cpp
Labels: component: connectivity, ready for merge, release-type: patch

#14575 CMake: Enable improved armclang support in CMake 3.21
  tools/cmake/app.cmake
  tools/cmake/cores/Cortex-A.cmake
  tools/cmake/cores/Cortex-M33-NS.cmake
  tools/cmake/cores/Cortex-M33.cmake
  tools/cmake/cores/Cortex-M4.cmake
  tools/cmake/mbed_toolchain.cmake
  tools/cmake/toolchains/ARM.cmake
Labels: component: tools, ready for merge, release-type: patch

#14911 FatFs: upgrade to R0.14b
  storage/filesystem/fat/ChaN/diskio.h
  storage/filesystem/fat/ChaN/ff.cpp
  storage/filesystem/fat/ChaN/ff.h
  storage/filesystem/fat/ChaN/ffconf.h
  storage/filesystem/fat/ChaN/ffunicode.cpp
  storage/filesystem/fat/ChaN/mbed_lib.json
  storage/filesystem/fat/source/FATFileSystem.cpp
Labels: component: core, ready for merge, release-type: feature

#14941 Update references to time values to use chrono
  connectivity/FEATURE_BLE/source/cordio/TESTS/cordio_hci/driver/main.cpp
  drivers/tests/TESTS/mbed_drivers/lp_ticker/main.cpp
  drivers/tests/TESTS/mbed_drivers/ticker/main.cpp
Labels: component: connectivity, component: core, component: hal, ready for merge, release-type: patch
