Repository ARMmbed/mbed-os, pull requests merged in 2022-11, with the labels that each got.

#15317 Fix for calculating CAN timing settings for STM32
  targets/TARGET_STM/can_api.c
Labels: devices: st, ready for merge, release-type: patch

#15343 Add proper support for NUCLEO-H723ZG.
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32H7/CMakeLists.txt
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32H7/TARGET_NUCLEO_H723ZG/CMakeLists.txt
  connectivity/drivers/emac/TARGET_STM/TARGET_STM32H7/TARGET_NUCLEO_H723ZG/stm32h7_eth_init.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/TARGET_NUCLEO_H723ZG/CMakeLists.txt
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/TARGET_NUCLEO_H723ZG/PeripheralPins.c
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/TARGET_NUCLEO_H723ZG/PinNames.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/TOOLCHAIN_GCC_ARM/startup_stm32h723xx.S
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/TOOLCHAIN_GCC_ARM/stm32h723xg.ld
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/cmsis_nvic.h
  targets/TARGET_STM/TARGET_STM32H7/TARGET_STM32H723xG/system_clock.c
  targets/TARGET_STM/USBPhy_STM32.cpp
  targets/targets.json
Labels: devices: st, ready for merge, component: connectivity, release-type: patch

#15352 M2354: Support FS-USBD
  targets/TARGET_NUVOTON/TARGET_M2354/TARGET_TFM/TARGET_NU_M2354/COMPONENT_TFM_S_FW/bl2.bin
  targets/TARGET_NUVOTON/TARGET_M2354/TARGET_TFM/TARGET_NU_M2354/COMPONENT_TFM_S_FW/tfm_s.axf
  targets/TARGET_NUVOTON/TARGET_M2354/TARGET_TFM/TARGET_NU_M2354/COMPONENT_TFM_S_FW/tfm_s.bin
  targets/TARGET_NUVOTON/USBEndpoints_Nuvoton.cpp
  targets/TARGET_NUVOTON/USBEndpoints_Nuvoton.h
  targets/targets.json
Labels: ready for merge, devices: nuvoton, release-type: patch
