Repository ARMmbed/mbed-os, pull requests merged in 2022-08, with the labels that each got.

#15313 M487: Fix mbedtls_ecp_point_cmp() call with null argument
  connectivity/drivers/mbedtls/TARGET_NUVOTON/TARGET_M480/ecp/ecp_internal_alt.c
Labels: ready for merge, component: connectivity, component: security, release-type: patch

#15311 Fix missing global up callback in CellularContext
  connectivity/cellular/source/framework/device/CellularContext.cpp
Labels: ready for merge, component: connectivity, release-type: patch

#15312 STMWL32 preparation for new chip rak3172sip
  connectivity/drivers/lora/TARGET_STM32WL/STM32WL_LoRaRadio.cpp
  connectivity/drivers/lora/TARGET_STM32WL/STM32WL_radio_driver.h
  connectivity/drivers/lora/TARGET_STM32WL/mbed_lib.json
Labels: ready for merge, component: connectivity, release-type: patch

#15322 STM32WL: fix MBED_CONF_STM32WL_LORA_DRIVER_SLEEP_MODE option
  connectivity/drivers/lora/TARGET_STM32WL/STM32WL_LoRaRadio.cpp
Labels: ready for merge, component: connectivity, release-type: patch

#15325 Updated System file and Scatter file
  targets/TARGET_TOSHIBA/TARGET_TMPM4KN/device/TMPM4KNA.h
  targets/TARGET_TOSHIBA/TARGET_TMPM4KN/device/TOOLCHAIN_ARM_STD/tmpm4knfyafg.sct
  targets/TARGET_TOSHIBA/TARGET_TMPM4KN/device/system_TMPM4KyA.c
Labels: ready for merge, devices: toshiba
