Repository ARMmbed/mbed-os, pull requests merged in 2022-03, with the labels that each got.

#15238 Updated I2C pin names in PinNames.h header
  targets/TARGET_TOSHIBA/TARGET_TMPM4KN/PinNames.h
Labels: ready for merge, devices: toshiba

#15239 STM32G4: enable QSPI for custom boards
  targets/TARGET_STM/TARGET_STM32G4/objects.h
Labels: devices: st, ready for merge, release-type: patch

#15240 ESP8266: Fix serial flow control inconsistency on reconnect
  connectivity/drivers/wifi/esp8266-driver/ESP8266/ESP8266.cpp
  connectivity/drivers/wifi/esp8266-driver/ESP8266/ESP8266.h
  connectivity/drivers/wifi/esp8266-driver/ESP8266Interface.cpp
Labels: ready for merge, component: connectivity, release-type: patch

#15249 STM32G4: Fix I2C timing
  targets/TARGET_STM/TARGET_STM32G4/i2c_device.h
Labels: devices: st, ready for merge, release-type: patch

#15251 Correct heap region calculation for Maxim targets
  targets/TARGET_Maxim/TARGET_MAX32620C/device/TOOLCHAIN_ARM_STD/MAX32620.sct
  targets/TARGET_Maxim/TARGET_MAX32625/device/TOOLCHAIN_ARM_STD/TARGET_MAX32625_BOOT/MAX32625.sct
  targets/TARGET_Maxim/TARGET_MAX32625/device/TOOLCHAIN_ARM_STD/TARGET_MAX32625_NO_BOOT/MAX32625.sct
  targets/TARGET_Maxim/TARGET_MAX32630/device/TOOLCHAIN_ARM_STD/MAX3263x.sct
Labels: ready for merge, devices: maxim, release-type: patch
